.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-01;
	height: 7vh;
	
	&__list {
		display: flex;
		font-size: 1.8rem;
		list-style: none;

		&__item {
  			padding: 0 1.5rem;

			&--link {
				text-decoration: none;
				color: $color-02;
			}
		}
	}
}