/* Here we style major ids in the page like header, main and footer. Probably the only */
/* time when we will use ids to style. */
header {
	font-size: 1.6rem;
}

#main {
	font-size: 1.6rem;
}

footer {
	font-size: 1.6rem;
}
